.container {
  -fx-alignment: center ;
  -fx-padding: 10 ;
}

.containerBackground {
  -fx-background-image: url("../assets/startScreen/mainBackgroundTheme.jpg");
  -fx-alignment: center ;
  -fx-padding: 10 ;
}
.child {
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.textField {
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-image: url("../assets/startScreen/backgroundBtn.png");
    -fx-alignment: center ;
    -fx-text-fill: black;
}

.statsList{
    -fx-text-fill: gold;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-image: url("../assets/startScreen/listBackground.png");
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.statsList .list-cell {
    -fx-text-fill: rgb(179, 151, 2);
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-cell-size: 35px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.statsList .list-cell:selected {
    -fx-border-color: gold;
    -fx-border-style: solid;
    -fx-text-fill: gold;
    -fx-border-radius: 60%;
}

.statsList .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-visibility: hidden;
    -fx-scale-x: 0;
}
