.container {
  -fx-alignment: center ;
  -fx-padding: 10 ;
}

.containerBackground {
  -fx-background-image: url("../assets/startScreen/mainBackgroundTheme.jpg");
  -fx-alignment: center ;
  -fx-padding: 10 ;
}
.child {
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.textField {
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-image: url("../assets/startScreen/backgroundBtn.png");
    -fx-alignment: center ;
    -fx-text-fill: black;
}
